{{ define "main" }}
  <article class="page">
    <header class="page__header">
      {{ partial "breadcrumb.html" . }}
      <h1>{{ .Title }}</h1>
    </header>
    <div class="prose">{{ .Content }}</div>

    <div class="about-boxes">
      {{ with .Params.education }}
      <section class="box" aria-labelledby="education-heading">
        <h2 id="education-heading" class="box__title">{{ i18n "education" }}</h2>
        {{ partial "timeline.html" . }}
      </section>
      {{ end }}
      {{ with .Params.experience }}
      <section class="box" aria-labelledby="experience-heading">
        <h2 id="experience-heading" class="box__title">{{ i18n "workExperience" }}</h2>
        {{ partial "timeline.html" . }}
      </section>
      {{ end }}
      {{ with .Params.skills }}
      <section class="box box--wide" aria-labelledby="skills-heading">
        <h2 id="skills-heading" class="box__title">{{ i18n "skills" }}</h2>
        {{ partial "skills.html" . }}
        <p class="skills__more">{{ i18n "skillsMore" }}</p>
      </section>
      {{ end }}
    </div>
  </article>
{{ end }}
